* {
    color: blue;
}
h1 {
    color:red;
    font-size: 40px;
}

#h2 {
    color: blue;
    font-size: 30px;
}

.h3 {
    color: green;
    font-size: 20px;
}

.Input {
    color: green;
}

/* .main {
    font-style: "Segoe UI";
    font-size: 30;
    color: royalblue;
} */